In [1]:
import pandas as pd

In [2]:
dwell_loc = pd.read_csv("data/loc_code_detection_patterns_new.csv")

In [5]:
direction = dwell_loc[['tag_id', 'loc_code', 'start_time', 'end_time']]
direction = direction[direction['loc_code']!='3M'].replace('60','61') # remove 3M, 60 and 61 are the same-so replace
direction

,tag_id,loc_code,start_time,end_time
0,989.001007,7A,2020-09-26 10:36:39.030000,2020-09-26 10:38:44.320000
1,989.001033,21,2020-09-27 07:04:30.360000,2020-09-27 07:04:30.360000
2,989.001007,22,2020-10-03 04:12:49.280000,2020-10-03 04:12:49.280000
3,989.001007,232,2020-10-23 19:55:21.760000,2020-10-23 19:59:11.080000
4,989.001007,231,2020-10-23 19:59:21.450000,2020-10-23 20:05:58.390000
...,...,...,...,...
37242,989.002028,202,2025-01-31 23:04:42.340000,2025-01-31 23:04:42.340000
37243,989.002028,201,2025-01-31 23:08:05.630000,2025-01-31 23:08:05.630000
37244,989.001034,401,2025-02-01 01:12:03.700000,2025-02-01 01:12:03.700000
37245,989.001034,402,2025-02-05 01:07:23.460000,2025-02-05 01:07:23.460000
37246,989.002028,702,2025-02-06 00:19:28.940000,2025-02-06 02:39:46.360000

In [4]:
sequence_data = direction.groupby("tag_id").apply(
    lambda x: {
        "loc_code": x["loc_code"].tolist(),
    }
).reset_index()

print(sequence_data)

          tag_id                                                  0
0     989.001007       {'loc_code': ['61', '6A', '6B', '6A', '61']}
1     989.001007                 {'loc_code': ['22', '202', '201']}
2     989.001007       {'loc_code': ['6A', '6B', '6A', '6B', '6A']}
3     989.001007                   {'loc_code': ['61', '6A', '6B']}
4     989.001007                       {'loc_code': ['202', '201']}
...          ...                                                ...
6996  989.002028                               {'loc_code': ['91']}
6997  989.002028            {'loc_code': ['91', '922', '9A', '9B']}
6998  989.002028     {'loc_code': ['91', '921', '922', '9A', '9B']}
6999  989.002028                               {'loc_code': ['91']}
7000  989.002028  {'loc_code': ['91', '922', '921', '922', '9B',...

[7001 rows x 2 columns]