In [1]:
import pandas as pd

In [2]:
dwell_loc = pd.read_csv("data/loc_code_detection_patterns.csv")

In [3]:
direction = dwell_loc[['tag_id', 'loc_code', 'start_time', 'end_time']]
direction = direction[direction['loc_code']!='3M'].replace('60','61') # remove 3M, 60 and 61 are the same-so replace
direction

,tag_id,loc_code,start_time,end_time
0,989.001007,7A,2020-09-26 10:36:39.030000,2020-09-26 10:38:44.320000
1,989.001033,21,2020-09-27 07:04:30.360000,2020-09-27 07:04:30.360000
2,989.001007,22,2020-10-03 04:12:49.280000,2020-10-03 04:12:49.280000
3,989.001007,232,2020-10-23 19:55:21.760000,2020-10-23 19:59:11.080000
4,989.001007,231,2020-10-23 19:59:21.450000,2020-10-23 20:05:58.390000
...,...,...,...,...
37242,989.002028,202,2025-01-31 23:04:42.340000,2025-01-31 23:04:42.340000
37243,989.002028,201,2025-01-31 23:08:05.630000,2025-01-31 23:08:05.630000
37244,989.001034,401,2025-02-01 01:12:03.700000,2025-02-01 01:12:03.700000
37245,989.001034,402,2025-02-05 01:07:23.460000,2025-02-05 01:07:23.460000
37246,989.002028,702,2025-02-06 00:19:28.940000,2025-02-06 02:39:46.360000

Testing the workflow for a single tag

In [4]:
ind = direction[direction['tag_id'] == 989.001038869832]
ind

,tag_id,loc_code,start_time,end_time
8,989.001039,84,2021-04-29 13:13:27.770000,2021-04-29 13:13:27.770000
9,989.001039,83,2021-04-29 14:02:14.730000,2021-04-29 14:02:14.730000
10,989.001039,84,2021-04-29 14:27:06.900000,2021-04-29 19:16:29.670000
13,989.001039,83,2021-04-29 19:33:12.160000,2021-04-29 19:34:53.880000
14,989.001039,84,2021-04-29 19:43:05,2021-04-29 20:16:52.380000
837,989.001039,83,2021-09-30 07:31:40.930000,2021-09-30 07:31:40.930000
838,989.001039,84,2021-09-30 07:35:06.370000,2021-09-30 07:35:06.370000

In [ ]:
ind["start_shift"] = ind["start_time"].shift(-1) 
ind

C:\Users\hp\AppData\Local\Temp\ipykernel_15928\973129667.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ind["start_shift"] = ind["start_time"].shift(-1)

,tag_id,loc_code,start_time,end_time,start_shift
8,989.001039,84,2021-04-29 13:13:27.770000,2021-04-29 13:13:27.770000,2021-04-29 14:02:14.730000
9,989.001039,83,2021-04-29 14:02:14.730000,2021-04-29 14:02:14.730000,2021-04-29 14:27:06.900000
10,989.001039,84,2021-04-29 14:27:06.900000,2021-04-29 19:16:29.670000,2021-04-29 19:33:12.160000
13,989.001039,83,2021-04-29 19:33:12.160000,2021-04-29 19:34:53.880000,2021-04-29 19:43:05
14,989.001039,84,2021-04-29 19:43:05,2021-04-29 20:16:52.380000,2021-09-30 07:31:40.930000
837,989.001039,83,2021-09-30 07:31:40.930000,2021-09-30 07:31:40.930000,2021-09-30 07:35:06.370000
838,989.001039,84,2021-09-30 07:35:06.370000,2021-09-30 07:35:06.370000,None

In [ ]:
ind["start_time"] = pd.to_datetime(ind["start_time"], format="ISO8601", errors="coerce")
ind["end_time"] = pd.to_datetime(ind["end_time"], format="ISO8601", errors="coerce")
ind["start_shift"] = pd.to_datetime(ind["start_shift"], format="ISO8601", errors="coerce")  # Convert 'NaT' to proper datetime NaT

ind["time_between_detection"] = ind["start_shift"] - ind["end_time"]

ind

C:\Users\hp\AppData\Local\Temp\ipykernel_15928\1031816855.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ind["start_time"] = pd.to_datetime(ind["start_time"], format="ISO8601", errors="coerce")
C:\Users\hp\AppData\Local\Temp\ipykernel_15928\1031816855.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ind["end_time"] = pd.to_datetime(ind["end_time"], format="ISO8601", errors="coerce")
C:\Users\hp\AppData\Local\Temp\ipykernel_15928\1031816855.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ind["start_shift"] = pd.to_datetime(ind["start_shift"], format="ISO8601", errors="coerce")  # Convert 'NaT' to proper datetime NaT
C:\Users\hp\AppData\Local\Temp\ipykernel_15928\1031816855.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ind["time_between_detection"] = ind["start_shift"] - ind["end_time"]

,tag_id,loc_code,start_time,end_time,start_shift,time_between_detection
8,989.001039,84,2021-04-29 13:13:27.770,2021-04-29 13:13:27.770,2021-04-29 14:02:14.730,0 days 00:48:46.960000
9,989.001039,83,2021-04-29 14:02:14.730,2021-04-29 14:02:14.730,2021-04-29 14:27:06.900,0 days 00:24:52.170000
10,989.001039,84,2021-04-29 14:27:06.900,2021-04-29 19:16:29.670,2021-04-29 19:33:12.160,0 days 00:16:42.490000
13,989.001039,83,2021-04-29 19:33:12.160,2021-04-29 19:34:53.880,2021-04-29 19:43:05.000,0 days 00:08:11.120000
14,989.001039,84,2021-04-29 19:43:05.000,2021-04-29 20:16:52.380,2021-09-30 07:31:40.930,153 days 11:14:48.550000
837,989.001039,83,2021-09-30 07:31:40.930,2021-09-30 07:31:40.930,2021-09-30 07:35:06.370,0 days 00:03:25.440000
838,989.001039,84,2021-09-30 07:35:06.370,2021-09-30 07:35:06.370,NaT,NaT

Continuing for the dataframe - direction

In [ ]:
direction["start_time"] = pd.to_datetime(direction["start_time"], errors="coerce")
direction["end_time"] = pd.to_datetime(direction["end_time"], errors="coerce")

def calculate_sequences(group):
    
    group["start_shift"] = group["start_time"].shift(-1)
    group["time_between_detection"] = group["start_shift"] - group["end_time"]
    return {
        
        "loc_code": group["loc_code"].tolist(),
        "time_between_detections": group["time_between_detection"].tolist(),
    }

sequence_data = direction.groupby("tag_id").apply(calculate_sequences).reset_index(name="sequence_data")

print(sequence_data)

          tag_id                                      sequence_data
0     989.001007  {'loc_code': ['61', '6A', '6B', '6A', '61'], '...
1     989.001007  {'loc_code': ['22', '202', '201'], 'time_betwe...
2     989.001007  {'loc_code': ['6A', '6B', '6A', '6B', '6A'], '...
3     989.001007  {'loc_code': ['61', '6A', '6B'], 'time_between...
4     989.001007  {'loc_code': ['202', '201'], 'time_between_det...
...          ...                                                ...
6996  989.002028  {'loc_code': ['91'], 'time_between_detections'...
6997  989.002028  {'loc_code': ['91', '922', '9A', '9B'], 'time_...
6998  989.002028  {'loc_code': ['91', '921', '922', '9A', '9B'],...
6999  989.002028  {'loc_code': ['91'], 'time_between_detections'...
7000  989.002028  {'loc_code': ['91', '922', '921', '922', '9B',...

[7001 rows x 2 columns]

In [10]:
sequence_df = pd.DataFrame(sequence_data)
sequence_df["loc_code"] = sequence_df['sequence_data'].apply(lambda x: x["loc_code"])
sequence_df["time_between_detections"] = sequence_df['sequence_data'].apply(lambda x: x["time_between_detections"])
sequence_df = sequence_df.drop(columns=['sequence_data'])

sequence_df

,tag_id,loc_code,time_between_detections
0,989.001007,"[61, 6A, 6B, 6A, 61]","[0 days 00:15:36.770000, 0 days 00:15:46.65000..."
1,989.001007,"[22, 202, 201]","[14 days 21:54:52.150000, 0 days 00:05:54.7500..."
2,989.001007,"[6A, 6B, 6A, 6B, 6A]","[0 days 00:00:06.370000, 0 days 00:00:16.13000..."
3,989.001007,"[61, 6A, 6B]","[0 days 00:07:41.460000, 0 days 00:01:38.94000..."
4,989.001007,"[202, 201]","[0 days 00:20:52.190000, NaT]"
...,...,...,...
6996,989.002028,[91],[NaT]
6997,989.002028,"[91, 922, 9A, 9B]","[1 days 06:24:57.110000, 5 days 06:23:08.72000..."
6998,989.002028,"[91, 921, 922, 9A, 9B]","[2 days 10:04:40.160000, 0 days 00:02:57.40000..."
6999,989.002028,[91],[NaT]
7000,989.002028,"[91, 922, 921, 922, 9B, 9A, 9B, 9A]","[2 days 22:01:48.730000, 0 days 00:07:22.11000..."